.container {
  background-color: #fdfdfd;
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  color: #ccc;
  letter-spacing: 0.1em;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.cardWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.card {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  box-shadow: 0 1px 13px rgba(57, 161, 194, 0.14);
  margin: 1rem;
  max-width: 300px;
  min-width: 40%;
  padding: 1rem 1.5rem;
  text-align: left;
  padding: 1rem;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 4px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
}
.card p {
  color: rgb(126, 126, 126);
  margin: 0;
  font-size: 0.85rem;
  line-height: 1.2;
}

.cardImg {
  background-color: #eaeaea;
  border: none;
  border-radius: 4px;
  margin-bottom: 8px;
  min-height: 250px;
  width: 100%;
}

.articleWrap {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  box-shadow: 0 1px 13px rgba(57, 161, 194, 0.14);
  max-width: 900px;
  margin: 1rem auto 2rem;
  padding: 2rem;
}

.articleTitle {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}
.articleSummary {
  color: rgb(126, 126, 126);
  margin: 1rem 0 3rem;
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
}
.articleBody {
  border-top: 1px solid rgb(228, 228, 228);
  color: rgb(94, 94, 94);
  max-width: 650px;
  margin: 0 auto;
  padding: 1rem 0 0;
}
.articleBody p {
  font-size: 1.25rem;
  line-height: 1.4;
}

.reactionUnit {
  display: flex;
  justify-content: flex-end;
}

.connectWalletBtn,
.reactionBtn,
.donateBtn {
  background: linear-gradient(to right, rgb(160, 235, 235), rgb(121, 206, 231)) border-box border-box;
  border: none;
  border-radius: 5em;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.14);
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
